
<div class="container">
  
  <div class="row">
    <div class="six columns">
      <p></p>
    </div>
    <div class="six columns">
    <ul id="list-nav">
      <li><button class="button-primary create-flight-button">Create Flight</button></li>
    </ul>
    </div>
  </div>

</div>

<div class="input-field-search">

  <form class="row" id="createPlaneInputs">

    <div class="three columns">
      <h5 class="u-full-width origin">Search Flights:</h5>
    </div>
    <div class="three columns">
      <input class="u-full-width origin" type="text" placeholder="Origin">
    </div>
    <div class="three columns">
      <input class="u-full-width destination" type="text" placeholder="Destination">
    </div>
  </form>

</div>

<div class="input-field">
  
</div>



<table class="u-full-width" id="planeTable">
      <thead>
        <tr>
          <th>Flight Number</th>
          <th>Date</th>
          <th>From > To</th>
          <th>Plane</th>
          <th>Seats</th>
        </tr>
      </thead>
      </tbody> 
</table>

<div style="height:500px;overflow:auto;">
 <table class="u-full-width" id="planeTable">

      <tbody>
        <tr>
  
        </tr>
      </tbody> 
</table>
</div>