<form class="row" id="createPlaneInputs">


<div class="row">
  <div class="four columns">
    <h5>Create a Flight:</h5>
  </div>
</div>


<div class="row">
  <div class="four columns">
    <input class="u-full-width flight-number" type="text" placeholder="Flight Number">
  </div>
  <div class="four columns">
    <input class="u-full-width date" type="date" placeholder="Date">
  </div>
  <div class="four columns">
    <input class="u-full-width origin-create" type="text" placeholder="Create Origin">
  </div>
</div>


<div class="row">
  <div class="four columns">
    <input class="u-full-width destination-create" type="text" placeholder="Create Destination">
  </div>
  <div class="four columns">
    <input class="u-full-width plane_id" type="number" placeholder="Plane">
  </div>
  <div class="four columns">
    <input class="submit-flight button-primary" type="submit">
    <button class="cancel-flight">Cancel</button>
  </div>
</div>


</form>