<div class="container" id="createPlaneInputs">
  <div class="three columns">
    <p>Flight Details For: </p><br><h4>{{flight_number}}</h4>
  </div>
  <div class="three columns">
    <p>Departing From: </p><br><h4>{{origin}}</h4>
  </div>
  <div class="three columns">
    <p>Arriving In: </p><br><h4>{{destination}}</h4>
  </div>
  <div class="three columns">
    <button class="back-to-flights"><a href="flights">Back To All Flights</a></button>
  </div>

</div>


<div id="short-scroll" class="scroll-planes"></div>