<div class="container">

    <div class="row">
      
        <button class="button-primary right main-plane-create">Create Plane</button>
      
    </div>

</div>

<div class="input-field"></div>

<table class="u-full-width" id="planeTable">
      <thead>
        <tr>
          <th>Plane Name</th>
          <th>Rows</th>
          <th>Aisles</th>
          <th>Seats</th>
        </tr>
      </thead>
      </tbody> 
</table>

<div style="height:500px;overflow:auto;">
 <table class="u-full-width" id="planeTable">

      <tbody>
        <tr>
  
        </tr>
      </tbody> 
</table>
</div>