<form class="row" id="createPlaneInputs">
  <div class="three columns">
    <input class="u-full-width name" type="text" placeholder="Name">
  </div>
  <div class="three columns">
    <input class="u-full-width rows" type="number" placeholder="Rows">
  </div>
  <div class="three columns">
    <input class="u-full-width aisles" type="number" placeholder="Aisles">
  </div>
  <div class="three columns">
    <input type="submit" class="button-primary overall-new-plane" value="Create Plane">
    <button class="cancel">Cancel</button>
  </div>

</form>