<!DOCTYPE html>
<html>
<head>
  <title>Fly Airlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  
<nav>
  <ul id="list-nav">
    
    <li class="left"><a href=""><h1>Welcome to Fly Airlines</h1></a></li>
    <li><a href="planes">Planes | </a></li>
    <li><a href="flights"> Flights | </a></li>
    <li><a href="admin" class="route">Admin</a></li>
  </ul>
</nav>


<%= yield %>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
